.transaction {
  margin: 0 auto;
  background-color: #fff;
  border-collapse: collapse;
  width: 400px;
}
.box {
  border: 1px solid rgb(140, 143, 143);
  background-color: rgb(80, 89, 88);
}
th {
  border: 1px solid rgb(140, 143, 143);
  padding: 15px 0;
}
td {
  border: 1px solid rgb(140, 143, 143);
  padding: 8px 0;
}
thead {
  background-color: rgb(77, 221, 240);
}

tbody:nth-child(even) {
  background-color: rgb(228, 233, 233);
}
