.statistics {
  width: 240px;
  margin-top: 15px;

  border: 1px solid #aaa;
  border-radius: 4px;

  background-color: #fff;
}
.title {
  text-transform: uppercase;
  text-align: center;
}
.list {
  display: flex;
}
.item {
  width: 48px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.label {
  display: block;
  text-align: center;

  color: #fff;
  font-size: 12px;
}
.percentage {
  display: block;
  text-align: center;

  color: #fff;
  font-size: 18px;
}
